@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handlee&family=Roboto:wght@100&display=swap");
@import "./Components/base.css";
@import "./Components/utility.css";

.logo {
  padding: 5px;
  width: 10%;
  height: 10%;
}

.quote {
  padding: 20px;
}

.line {
  background-color: red;
  height: 1px;
  width: 25%;
  border: 0;
}

.picture {
  border-radius: 0 12% 0 12%;
  padding: 5px;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.about-me {
  float: left;
}

.photo {
  float: right;
  padding: 10px;
}

.picture-left {
  float: left;
  padding: 10px;
}

.line-top-bottom {
  height: 1px;
  background-color: red;
  border: 0px;
  width: 90%;
}

.skills-style {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.copyright {
  float: left;
  padding-left: 4%;
}

.photo-titel {
  text-align: center;
  font-size: 0.7rem;
}

.it-skills {
  text-align: center;
}

.tab-width {
  width: 35%;
}
.to-fix {
  display: flex;
  flex-direction: column;
}
