* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 1, 5;
}

main {
  padding: 20px;
}

h2,
h3,
h4 {
  margin: 0;
  color: midnightblue;
}

h1 {
  text-align: center;
  color: #026;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
}

h2 {
  text-align: center;
  color: #026;
}

html {
  font-size: 150%;
}

p {
  font-size: 1rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0 7px;
  font-weight: 100;
  justify-content: center;
}

section {
  background-color: aliceblue;
  padding: 20px;
  border: 1px solid rosybrown;
  height: auto;
  display: inline-block;
  /*flex-direction: column;*/
  border-radius: 3px;
  justify-content: center;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 15px rgb(238, 173, 173);
}

ul {
  /* padding: 10px; */
  list-style-type: none;
}

li {
  background: url(/images/myLogo.png);
  background-size: 12%;
  background-repeat: no-repeat;
  background-position: 1.5% center;
  padding: 2%;
  padding-left: 6%;
  margin: 0;
}

aside {
  color: red;
  text-align: right;
  font-style: italic;
  flex-wrap: wrap;
}

a:link,
a:visited {
  color: rgb(5, 50, 146);
  text-decoration: none;
}

a:hover {
  color: red;
}

dt {
  text-transform: uppercase;
}

footer {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
}
