.picture {
  border-radius: 0 12% 0 12%;
  padding: 5px;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.profile {
  float: left;
}

.profile__photo {
  float: right;
  padding: 10px;
}

.picture-left {
  float: left;
  padding: 10px;
}

.profile__photo__titel {
  text-align: center;
  font-size: 0.7rem;
}
